@media (max-width: 480px) {
  body {
    background-image: url(background.jpg);
  }
  .contact-details {
    padding: 20px 6px 20px 6px !important;
  }
  .contact-icon {
    font-size: 1.4rem !important;
  }
  .fa-brands {
    font-size: 1.4rem !important;
  }
  .container {
    height: 100vh;
  }
  .btn-success {
    border: none !important;
  }
  
  .btn-success:hover {
    background-color: #df1b14 !important;
  }
  
  .btn-success:visited {
    background-color: #1f1f1f;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  body {
    background-image: url(background.jpg);
  }
  .contact-details {
    padding: 20px 8px 20px 8px !important;
  }
  .contact-icon {
    font-size: 1.6rem !important;
  }
  .fa-brands {
    font-size: 1.6rem !important;
  }
  .container {
    height: 100vh;
  }
  .btn-success {
    border: none !important;
  }
  
  .btn-success:hover {
    background-color: #df1b14 !important;
  }
  
  .btn-success:visited {
    background-color: #1f1f1f;
  }
}

@media (min-width: 1025px) {
  body {
    background-image: url(background.jpg);
  }

